<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {# <link rel="stylesheet" href="/css/style.css"/>>#} 
    <link rel="stylesheet" href={{ "/css/style.css" | url }}/
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&family=PT+Serif&display=swap" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/paraiso-dark.min.css" integrity="sha512-gHL6br/iL8Iwau/ApDZ5QoWRrrO6W06oH+RovA6Uk6j9WTkbS7Ydp+WEYkuvll3PF6T999cue0wwmJJmTmg8MA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{{ site.title }}</title>
  </head>
  <body>
  <script>hljs.highlightAll();</script>
    <header>{% include "nav.njk" %}</header>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>