---
title: Resources
layout: layouts/page.njk
---

<div class="list-page">
  <div class="list-item">
    <div class="list-item-title">
      <a
        href="https://dev.to/sndrx/how-to-set-up-an-ssh-key-and-use-it-in-gitlab--42p1"
        >Git SSH</a
      >
    </div>
    <div class="list-item-description">
      Easiest way to setup Gitlab with SSH keys
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <a href="https://docs.gitlab.com/ee/ssh/ ">Gitlab SSH</a>
    </div>
    <div class="list-item-description">Official Gitlab SSH Docs</div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <a
        href="https://www.digitalocean.com/community/tutorials/how-to-create-and-deploy-your-first-eleventy-website"
        >Eleventy Tutorial</a
      >
    </div>
    <div class="list-item-description">
      A quick guide on how to implement your first 11ty blog
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <a href="https://www.jeffchiou.com/blog/building-a-site-with-eleventy/"
        >Eleventy Setup Tips</a
      >
    </div>
    <div class="list-item-description">
      How to setup your first 11ty website
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <a
        href="https://www.11ty.dev/docs/config/#deploy-to-a-subdirectory-with-a-path-prefix 11ty prefix"
        >Eleventy Prefix</a
      >
    </div>
    <div class="list-item-description">
      Deploy 11ty to a subdirectory with a path prefix
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <a href="https://www.11ty.dev/docs/filters/url/">Eleventy Filter Url</a>
    </div>
    <div class="list-item-description">
      Works with the pathPrefix configuration option to properly normalize
      absolute paths
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <a href="https://gitlab.com/gitlab-org/gitlab/-/issues/23302"
        >Gitlab Subdirectory</a
      >
    </div>
    <div class="list-item-description">
      GitLab Pages doesn't load assets when using absolute paths
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <a href="https://www.datacamp.com/community/tutorials/git-push-pull">Git Commands</a>
    </div>
    <div class="list-item-description">Extensive explaination of Git commands</div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <a href="https://www.markdownguide.org/basic-syntax/"
        >Markdown Basic Syntax</a
      >
    </div>
    <div class="list-item-description">
      Guide for the Markdown elements outlined in the original design document
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <a
        href="https://stackoverflow.com/questions/14675913/changing-image-size-in-markdown"
        >Markdown Image Size</a
      >
    </div>
    <div class="list-item-description">How to resize an image in Markdown</div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <a
        href="https://www.awwwards.com/15-great-chrome-extensions-for-web-designers-and-developers.html"
        >Chrome Addons</a
      >
    </div>
    <div class="list-item-description">
      Chrome extensions for designers and developers
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <a
        href="https://css-tricks.com/snippets/css/complete-guide-grid/#prop-grid-column-row-gap"
        >Complete Guide to Grid</a
      >
    </div>
    <div class="list-item-description">
      A guide that extensively covers how to use CSS grid
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/repeat()"
        >Grid Repeat</a
      >
    </div>
    <div class="list-item-description">
      How to use the repeat function to create a large number of grid columns or
      rows
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <a
        href="https://stackoverflow.com/questions/14061228/remove-white-space-above-and-below-large-text-in-an-inline-block-element"
        >CSS Leading Space</a
      >
    </div>
    <div class="list-item-description">
      How to remove the top leading space of a text container
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <a
        href="https://medium.com/codyhouse/line-height-crop-a-simple-css-formula-to-remove-top-space-from-your-text-9c3de06d7c6f"
        >CSS Leading Space Formula</a
      >
    </div>
    <div class="list-item-description">
      A more mathematical way to understand text leading.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <a href="https://www.youtube.com/watch?v=qn8N9LMowkc&ab_channel=60SecondDocs">Mechanical Mirrors</a>
    </div>
    <div class="list-item-description">Short video with examples</div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <a href="https://laserpilot.medium.com/survey-of-alternative-displays-82d928480b9d">Alternative Displays Survey</a>
    </div>
    <div class="list-item-description">An extensive compilation of alternative displays</div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <a href="https://www.papermech.net/2016/06/06/drone/">Opening Mechanism</a>
    </div>
    <div class="list-item-description">Paper mechanism video</div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <a href="https://www.youtube.com/watch?v=lusCM67ZvNM&ab_channel=KodeBase
">HighlightJS Tutorial</a>
    </div>
    <div class="list-item-description">Short video on how to setup HighlightJS</div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <a href="https://highlightjs.org/usage/">HighlightJS Usage</a>
    </div>
    <div class="list-item-description">How to install HighlightJS for diferent systems</div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <a href="https://highlightjs.org/static/demo/">HighlightJS Demo</a>
    </div>
    <div class="list-item-description">Live demo of how the HighlightJS's styles would look in different languages</div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <a href="https://cdnjs.com/libraries/highlight.js">HighlightJS Styles</a>
    </div>
    <div class="list-item-description">CDN links for all the HighlightJSstyles</div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <a href="https://stackoverflow.com/questions/10964115/cant-highlight-xml-syntax-with-highlight-js">HighlightJS XML Error</a>
    </div>
    <div class="list-item-description">How to properly display "xml" highlighting</div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <a href="https://digital-photography-school.com/merge-combine-images-photoshop/">Combine Images in Photoshop</a>
    </div>
    <div class="list-item-description">How to combine multiple takes into one image in Photoshop</div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <a href="https://www.deliacreates.com/merged-family-photo-tutorial/">Combine Images Tutorial</a>
    </div>
    <div class="list-item-description">How to combine multiple takes into one image with different tools</div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <a href="https://www.deliacreates.com/merged-family-photo-tutorial/">Merge Images in Photoshop</a>
    </div>
    <div class="list-item-description">How to merge multiple images in Photoshop</div>
  </div>
    <div class="list-item">
    <div class="list-item-title">
      <a href="https://support.shapeways.com/hc/en-us/articles/360022742294-Polygon-reduction-with-Meshlab">Polygon reduction with MeshLab</a>
    </div>
    <div class="list-item-description">An example of how to reduce polygons</div>
  </div>
</div>



