---
title: "01 Introduction"
layout: layouts/page.njk
---

<div class="list-page">
  <div class="list-item">
    <div class="list-item-title">
      <img
        src="../../assets/assignments/01/A_01_01.png"
        alt=""
        width="100%"
      />
    </div>
    <div class="list-item-description">
      For the first assignment the task was to setup a GitLab account and create a repository for the project. 
      Additionally, it was required to deploy a website within Gitlab pages, and add some description about myself.
    </div>
  </div>
</div>