---
title: "04 Computer-Aided Design"
layout: layouts/page.njk
---

<div class="list-page">
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/04/A_04_01.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      Vector graphics are created using mathematical algorithms to draw shapes
      and lines. Vector graphics are composed of basic elements such as points,
      lines, curves, and polygons. Vector images can be scaled to any size
      without losing quality because they are based on mathematical formulas
      rather than pixels. Vector image processing programs use these
      mathematical formulas to create and edit vector graphics. Programs
      typically allow users to select objects or groups of objects and then
      apply various operations such as moving, rotating, scaling, or changing
      the color or shape of the objects. Some programs also allow users to add
      text or other elements to their graphics. I used SVGator because it was
      easy to use, and becaus eit is an online service, I dont have to download
      and install anything.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/04/A_04_02.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      CAD can also help us simulate the behaviour of real wolrd problems inside
      the computer. In this example the MIT Origami Simulater found
      <b><a href="https://origamisimulator.org/">here</a></b> is used to
      simulate and analyse the folding patter for the svg origami desing.The
      program starts by reading in a description of the origami model. This
      includes the crease pattern, the paper size, and how many sheets of paper
      are required. The program then calculates how to fold each sheet of paper
      to create the model. The image on the left showcases the origami pattern
      unfolded
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/04/A_04_03.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      Within the simulator we can change the folding percentage and see how the
      pattern will look like.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/04/A_04_04.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      A raster graphics editing software is a program that allows users to
      create and edit images. Raster graphics are made up of pixels, which are
      small squares that can be any color. When these pixels are put together,
      they create an image. Raster graphics editing software allows users to
      change the color of individual pixels, as well as the overall color of the
      image.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/04/A_04_05.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      Masking is the process of hiding or revealing part of an image using a
      mask. A mask can be a selection, a layer, or a path. When you create a
      mask, you define the areas of an image that will be hidden or revealed.
      This is a "black" mas where only the pixles that are inside the black area
      will be display in the layer
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/04/A_04_06.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      Here we can obeser the pixels that are allowed to be displayed from the
      mas above.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/04/A_04_07.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      I had to take several shots of the same origami element in different
      positions and then compsite them in Photoshop using masks for each
      layer(each containing a different photo).
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/04/A_04_08.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      This is the final composite image from Photoshop. Fusion 360 is a CAD
      software that helps users design products. It allows for the creation of
      3D models and 2D drawings, and also provides simulation and manufacturing
      tools to help users test their designs. The software is cloud-based, so it
      can be accessed from any device with an internet connection.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/04/A_04_09.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      Fusion 360 is a CAD software that helps users design three dimensional or
      "real" life products. It allows for the creation of 3D models and 2D
      drawings, and also provides simulation and manufacturing tools to help
      users test their designs. The software is cloud-based, so it can be
      accessed from any device with an internet connection. The main operation
      mode in Fusion 360, consist in creating 2D sketches that can then be
      extruded into 3D shapes.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/04/A_04_10.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      We can start by creating a sketch and seeecting a plane were the sketch
      will exist.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/04/A_04_11.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      We then can create a circle(or different shapes) from the CREATE panel,
      and set a dimension to the shape.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/04/A_04_12.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      Now we can exit the sketching mode, and click the extrude button from the
      CREATE panel. This will create a 3D object from our sketch.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/04/A_04_13.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      We can define the height (or z dimension) of the object or body.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/04/A_04_14.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      By using multiple sketches in different planes, different shapes, and
      different way to cut, extrude, and joining bodies, we can create complex
      structures and objects.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <iframe
        src="https://myhub.autodesk360.com/ue2b56706/shares/public/SH35dfcQT936092f0e4378dd853a55d48144?mode=embed"
        width="640"
        height="480"
        allowfullscreen="true"
        webkitallowfullscreen="true"
        mozallowfullscreen="true"
        frameborder="0"
      ></iframe>
    </div>
    <div class="list-item-description">
      This is an interactive version of the claw final design.
    </div>
  </div>
</div>
