---
title: Assignments
layout: layouts/page.njk
---

<div class="list-page">
  <div class="list-item">    
    <div class="list-item-title">
      <a href={{ "/assignments/01" | url }}>01</a>
    </div>
    <div class="list-item-description">
      Introduction
    </div>
  </div>
  <div class="list-item">    
    <div class="list-item-title">
      <a href={{ "/assignments/02" | url }}>02</a>
    </div>
    <div class="list-item-description">
      Principles and Practices
    </div>
  </div>
  <div class="list-item">    
    <div class="list-item-title">
      <a href={{ "/assignments/03" | url }}>03</a>
    </div>
    <div class="list-item-description">
      Project Management
    </div>
  </div>
   <div class="list-item">    
    <div class="list-item-title">
      <a href={{ "/assignments/04" | url }}>04</a>
    </div>
    <div class="list-item-description">
      Computer-Aided Design
    </div>
  </div>
 <div class="list-item">    
    <div class="list-item-title">
      <a href={{ "/assignments/05" | url }}>05</a>
    </div>
    <div class="list-item-description">
      Computer-Controlled Cutting
    </div>
  </div>
  <div class="list-item">    
    <div class="list-item-title">
      <a href={{ "/assignments/06" | url }}>06</a>
    </div>
    <div class="list-item-description">
      Electronics Production
    </div>
  </div>
  <div class="list-item">    
    <div class="list-item-title">
      <a href={{ "/assignments/07" | url }}>07</a>
    </div>
    <div class="list-item-description">
      3D Scanning and Printing
    </div>
  </div>
</div>