---
title: About Me
layout: layouts/page.njk
---

<div class="about-container" >
  <div class="about-img">
    <img src="../assets/extras/me.png" alt="drawing" width="200px" />
  </div>
  <div class="about-text">
    Hi my name is Calvin Guillot. I'm from Colombia but live in Finland. I am
    doing a Masters in New Media Arts. Here you will find the assignments and
    project process for the digital fabrication courses.
  </div>
</div>
