---
title: "03 Project Management"
layout: layouts/page.njk
---

<div class="list-page">
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/03/A_03_01.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      The purpose of this task is to explain how the website was setup with Git
      and GitLab, and how the repository is managed. To begin with, we can
      introduce Git: an open-source distributed version control system developed
      by Linus Torvalds in 2005. Git is useful because it streamlines the
      development of software by creating a distributable repository, where the
      files can be reviewed, edited and audited. It is designed to handle
      everything from small to very large projects with speed and efficiency.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/03/A_03_02.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      GitLab, is a software platform that combines the ability to develop,
      secure, and operate software in a single application. Initially, it was as
      a source code management solution to collaborate within a team on software
      development that evolved to an integrated solution covering the software
      development life cycle, and then to the whole DevOps life cycle.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-code">
      <pre><code class="shell">ssh-keygen</code></pre>
    </div>
    <div class="list-item-description">
      To setup a project, first is necessary to download Git (if not installed
      already). Git can be downloaded from
      <b><a href="https://git-scm.com/downloads">here</a></b
      >. Next, a free GitLab account can be created without needing a credit
      card, however, to use the pipeline and verification features, credit card
      information is required. Once Git is installed, a SSH key is required to
      communicate between the local computer and the repository. This key
      validates the user and allow our changes to be submitted or "pushed" into
      the repository. To create the key a terminal window is necessary. This
      command creates an SSH key. Feed the commands and then press
      <code>ENTER</code>.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-code">
      <pre><code class="shell">Enter file in which to save the key (/user/.ssh/id_rsa): 
Enter passphrase (empty for no passphrase): 
Enter same passphrase again: </code></pre>
    </div>
    <div class="list-item-description">
      If extra information or a particular location for the file is required,
      these fills must be completed, otherwise could be skipped with the
      <code>ENTER</code> key.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-code">
      <pre><code class="shell">Your identification has been saved in /user/.ssh/id_rsa.
Your public key has been saved in /user/.ssh/id_rsa.pub.
The key fingerprint is:
4a:dd:0a:c6:35:4e:3f:ed:27:38:8c:74:44:4d:93:67 demo@a
The key's randomart image is:
+--[ RSA 2048]----+
|          .oo.   |
|         .  o.E  |
|        + .  o   |
|     . = = .     |
|      = S = .    |
|     o + = +     |
|      . o + o .  |
|           . o   |
|                 |
+-----------------+</code></pre>
    </div>
    <div class="list-item-description">
      The terminal will output the location of the key and random art because
      why not.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-code">
      <pre><code class="shell">pbcopy < ~/.ssh/id_rsa.pub</code></pre>
    </div>
    <div class="list-item-description">
      Next is required to input this key into GitLab. The key can be copied
      using this command or browsing the key location. On GitLab go to
      preferences->SSH Keys and paste the key. It is optional to give it an
      expiration date and name.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-code">
      <pre><code class="shell">ssh -T git@gitlab.example.com</code></pre>
    </div>
    <div class="list-item-description">
      This command verifies out connections with GitLab. If the connection was
      unsuccessful, it is advised to create another key and feed it into GitLab
      again.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-code">
      <pre><code class="shell">git config --global user.name "Your Name"
git config --global user.email "youremail@yourdomain.com"</code></pre>
    </div>
    <div class="list-item-description">
      A username and email are required by Git, to be able to know who is
      pushing changes to the repository. Run this command to fill those fields.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/03/A_03_03.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      On the GitLab project main page, the "Clone" button offers different ways
      to close the repository. In this case the SSH address was used. The small
      bottom next to the address automatically copies it.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/03/A_03_04.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      In VSCode is possible to manage git command without needing the terminal.
      Pressing the source control icon will open the Git panel. Press “clone
      repository” and paste the address copied from Gitlab. This will fetch and
      close the repository and create a local copy.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/03/A_03_05.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      Similarly, in VSCode is possible to pull, commit, push, and more, without
      the need of a terminal.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-code">
      <pre><code class="shell">git clone git@gitlab.com:gitlab-tests/sample-project.git</code></pre>
      <pre><code class="shell">git add .</code></pre>
      <pre><code class="shell">git commit -m 'your message'</code></pre>
      <pre><code class="shell">git push -u origin master</code></pre>
      <pre><code class="shell">git pull 'remote_name' 'branch_name'</code></pre>
    </div>
    <div class="list-item-description">
      However, if the terminal is easier to use, these are the basic commands
      that will get the repository, add, commit and push the changes.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/03/A_03_06.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      Eleventy or "11ty" is a static site generator. It was used in this project
      because the novelty, small bundle size, and easy page routing. 11ty is
      fast and easy to use, however it required some extra steps (shown below)
      to be able to link it properly with GitLab.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-code">
      <pre><code class="shell">npm install -D @11ty/eleventy</code></pre>
    </div>
    <div class="list-item-description">
      With this command 11ty can be installed in the root directory of the
      project.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-code">
      <pre><code class="shell">npm start</code></pre>
    </div>
    <div class="list-item-description">
      This command starts the local development environment in our machine. The
      project then can be accessed in the browser either through the localhost
      or the IP address suggested in the output of the terminal. Every time a
      change is made in the code (and saved) the environment will update the
      page in our browser.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-code">
      <pre><code class="shell">npm build</code></pre>
    </div>
    <div class="list-item-description">
      This command builds the website files that will be rendered and hosted in
      the server (in this case GitLab pages). This command should be run every
      time is desired to update the website. However, because 11ty is being
      compiled from the CI/CD configuration, the files are automatically built
      once changes are pushed to the repository.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/03/A_03_07.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      It was desired to have both website and project files in the same
      repository. This create some issues with the CI/CD configuration, because
      the root address of the website is not the same as the one in the
      repository. However, it is still possible to have websites hosted in
      subdirectories.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-code">
      <pre><code class="yaml">image: "node:lts-alpine"

before_script:
  - cd website

cache:
  paths:
    - node_modules/

pages:
  stage: deploy
  script:      
    - npm install
    - npx @11ty/eleventy --pathprefix=digital-fabrication
    - mv _site ../public
  artifacts:
    paths:
      - public
  only:
    - main</code></pre>
    </div>
    <div class="list-item-description">
      This is the CI/CD configuration in GitLab. The key parts here are the
      <code>cd website</code> command that browse to the website directory, and
      the <code>--pathprefix=digital-fabrication</code> command, that assign the
      root address to the website.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-code">
      <pre><code class="xml">&lt;link rel="stylesheet" href={{ "/css/style.css" | url }}/&gt;</code></pre>
    </div>
    <div class="list-item-description">
      This line must be added to the <code>base.njk</code> file, and all paths
      within the project. Otherwise, the assets and styles would not load.
      Additionally, this line must be disable during local development, due to
      the paths being redirected.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-code">
      <pre><code class="javascript">return {
    pathPrefix: "/digital-fabrication/"
};</code></pre>
    </div>
    <div class="list-item-description">
      Similar as above, this line must be added to the
      <code>eleventy.js</code> file. It is the prefix for the root folder of the
      website.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-code">
      <pre><code class="css">.parent{
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 10% 1fr 10%;
}

.child{
  grid-column: 2 /span 1;
  grid-row:  2 / span 1;
}</code></pre>
    </div>
    <div class="list-item-description">
      CSCSS grid was heavily used in the creating of the website. Here is an
      example of how the child can be positioned in the centre of the parent.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-code"></div>
    <div class="list-item-description">
      For further information regarding Git, GitLab configuration, Eleventy, CSS
      styes and grid, and more, please refer to the resources page. The
      repository can be found
      <b
        ><a href="https://gitlab.com/calvinguillot/digital-fabrication"
          >here</a
        ></b
      >.
    </div>
  </div>
</div>
