---
title: "05 Computer-Controlled Cutting"
layout: layouts/page.njk
---

<div class="list-page">
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/05/A_05_01.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      The Roland GX-24 is a vinyl cutter that is designed for signmaking and
      other professional applications. It has a 24-inch cutting width, and it
      can cut vinyl, paper, and other materials up to 0.25 inches thick. The
      GX-24 includes a built-in contour cutting function, which allows you to
      create curved shapes and letters. It also has a Roland CutStudio software
      bundle that provides a variety of design and editing tools, which is also
      distributed as an add-on fro Adobe Illustrator.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/05/A_05_02.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      Once we have our design in Adobe Illustrator, we have to convert the
      design into a path for the cutter. Only outlines can be cut, not shaded
      areas. The figure on the left provides some of the parameters found in the
      add-on. When everything is set up we just press "Output the Paths."
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/05/A_05_03.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      The depth of the cut can be set by rotating the cutting head.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/05/A_05_04.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      To setup the cutter, it has to be at the origin. Only then is recommended
      to start the operation.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img
        src="../../assets/assignments/05/A_05_04.1.png"
        alt=""
        width="100%"
      />
    </div>
    <div class="list-item-description">
      The vinyl sheet must be palces in between these two rollers. We can move
      them around and set them in place withthe lever in the back of the
      machine.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/05/A_05_05.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      This is an example of a vinyl cut, where the elements can be diattached
      from the adhesive surface.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/05/A_05_06.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      This is my final cut. I pasted it in a secret location.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/05/A_05_07.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      The Epilog Fusion Pro 48 is a laser cutter/engraver with a 48" x 36" bed
      size. It is capable of cutting and engraving a wide variety of materials
      including wood, plastic, acrylic, and metal. It has a resolution of up to
      1200 dpi, making it capable of producing high quality results. It also has
      a built-in air assist feature that helps to remove debris and fumes from
      the cutting/engraving process.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/05/A_05_08.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      We can export a 2D design from Fusion 360 and imported into Adobe
      Illustrator.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img
        src="../../assets/assignments/05/A_05_09_a.png"
        alt=""
        width="100%"
      />
    </div>
    <div class="list-item-description">
      After importing our design to Adobe Illustrator we can just press "CTRL+P"
      and it will send our design straight to the Epilog Job Manager. In the
      Manager we can position our design on the plywood (or other materials)
      using the included cameras.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img
        src="../../assets/assignments/05/A_05_09_b.png"
        alt=""
        width="100%"
      />
    </div>
    <div class="list-item-description">
      There are two types of cuts: Engraving creates shaded areas on the surface
      of the material; Vector cuts through the material, which separates it from
      the rest of the plywood.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/05/A_05_10.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      This is an example of several cuts on the plywood sheet.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <div class="list-item-title">
        <video width="480" height="640" controls>
          <source
            src="../../assets/assignments/05/laser_cutting.mp4"
            type="video/mp4"
          />
        </video>
      </div>
    </div>
    <div class="list-item-description">
      This is an example of the laser performing a vector cut.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/05/A_05_11.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      Laser kerf is the width of the cut made by a laser. It has to be taken
      into consideration because the laser follows a "0" width path, however to
      perform a cut the laser beam has to remove material. Therefore, that
      missing material has to be compensated for in the design. This is my final
      design. It is a claw mechanism that is assembled as a press-fit kit.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/05/A_05_12.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">The design fully assembled.</div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/05/A_05_13.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">The design with the arms closed.</div>
  </div>
</div>
