---
title: Project
layout: layouts/page.njk
---

<div class="list-page">
  <div class="list-item">
    <div class="list-item-title">
      <img src="../assets/project/sketch_1.jpeg" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      My idea is to create a mechanical display made out of kinetic origami
      pixels. These pixels will open and close, thus representing a value
      between 0 and 1. In this display would be possible to display from
      greyscale images to generative art. Depending on the size of the pixels,
      the array could be 8x8 or even 16x16. Similarly, the idea is to make every
      pixel a module, therefore it could be possible to have different display
      sizes and shapes, but this is a secondary goal.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../assets/project/pixel.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      I dont want to use too much plastic (besides 3d priting prototyping), I am
      more interested in the particular sound, feel, and mechanical properties
      of paper. Similarly, wood or similar matereial could be used for the
      underlying structure.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../assets/project/laser_structure.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">Laser cut structure.</div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../assets/project/3d_1.jpeg" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      3d printed test. This prototype consiste of riggid plates and foldable
      ribs. It acts as a compliant mechanism.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../assets/project/3d_2.jpeg" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      This prototype has continues ribs. This improved the strenght of the
      joints.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../assets/project/3d_3.jpeg" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      Revised protoype. Here the plates were removed and the whole structure
      became compliant.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../assets/project/3d_4.jpeg" alt="" width="100%" />
    </div>
    <div class="list-item-description">Folded example.</div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <video width="274" height="640" controls>
        <source src="../assets/project/compliant_video.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="list-item-description"></div>
  </div>
</div>
