---
title: "06 Electronics Production"
layout: layouts/page.njk
---

<div class="list-page">
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/06/A_06_01.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      The Roland MDX-40A is a 3-axis CNC mill that can be used for a variety of
      applications, including prototyping, short-run production, and R&D work.
      The MDX-40A has a work envelope of 9.8" x 9.8" x 6.3", and it can mill a
      variety of materials, including plastics, metals, and composites.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/06/A_06_02.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      CopperCAM is a computer-aided manufacturing (CAM) software application
      used to create and edit CNC machine toolpaths. It offers a variety of
      features for 2D and 3D machining, including a library of built-in shapes
      and tools, support for multi-axis machining, and the ability to import and
      export files in various formats. Here we can see the outputs of the
      CopperCAM program. This will be sent to the MDX-40A.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/06/A_06_03.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      This is the board after the MDX-40A have finished the milling process.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/06/A_06_04.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      Once cleaned, the board looks like this. This particular example is of a
      failed board where the outline cuts were not performed, thus the board is
      still attached to the double sided sheet.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/06/A_06_05.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      A successfull board under the amplifying lens.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/06/A_06_06.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      Manual SMD soldering is the process of soldering surface mount devices by
      hand. This involves using a soldering iron to heat the component and
      solder, and then using a solder sucker or solder wick to remove any excess
      solder. The image on th left shows the adequate steps for proper soldering
      process.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/06/A_06_07.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">A soldered board.</div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/06/A_06_08.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      Unfortunately, due to time constraints, and after trying with several
      boards, the best one also failed due to the small traces. Once the MC was
      soldered, the traces lifted up and ruined the board.
    </div>
  </div>
</div>
