<div class="menu">
  <div class="menu-item">
    <a href={{ "/" | url }}>Home</a>
  </div>
  <div class="menu-item">
    <a href={{ "/assignments" | url }}>Assignments</a>
  </div>
  <div class="menu-item">
    <a href={{ "/project" | url }}>Project</a>
  </div>
  <div class="menu-item">
    <a href={{ "/resources" | url }}>Resources</a>
  </div>
  <div class="menu-item">
    <a href={{ "/about" | url }}>About</a>
  </div>
</div>