---
title: "02 Principles and Practices"
layout: layouts/page.njk
---

<div class="list-page">
  <div class="list-item">
    <div class="list-item-title">
      <img
        src="../../assets/assignments/02/A_02_01.png"
        alt=""
        width="100%"
      />
    </div>
    <div class="list-item-description">
      For this assignment the task was to create a final project page, containing a visual sketch and a description
      of the final project idea.
    </div>
  </div>
</div>
