---
layout: layouts/base.njk
---

<div class="page">
  <div class="page-title">{{ site.title }}</div>
  <div class="page-sub-title">{{ site.subTitle }}</div>
  <div class="home-page-img">
    <img  src="assets/extras/comecome.png"/>
  </div>
</div>