---
title: "07 3D Scanning and Printing"
layout: layouts/page.njk
---

<div class="list-page">
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/07/A_07_01.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      The ARTEC LEO 3D scanner is a device that captures the geometry of an
      object by projecting a series of laser beams onto it and then analyzing
      the reflections. This information is used to create a 3D model of the
      object. It is recommended to do multiple passes around the object, at a
      slow speed, so the scanner can track all the points and generate a
      cohesive mesh.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/07/A_07_02.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      <a href="https://monhauck.gitlab.io/digital-fabrication/"
        ><b>Monika</b></a
      >
      help me with the scanning. She scanned me, and I scanned her. This image
      showcases the mesh that was imported from the ARTEC LEO device into the
      ARTEC processing software. We have to fuse the scans into a so-called
      fusion, then fill the holes, because sometimes the scanner could not
      capture enough detail and there are empty vertices in some areas. After
      this process is done, the model can be exported.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/07/A_07_03.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      This is the mesh with the texture overlay. The ARTEC LEO both scans the
      mesh and take pictures of it and then projects this texture into the mesh.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/07/A_07_04.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      Unfortunately, my model was exported as an OBJ and had a file size of over
      1.5GB. Furthermore, there was a large amount of unnecessary detail and an
      considerable amount of misplaced geometry. We can import this mesh into
      MeshLab which is a 3D mesh processing software with a wide range of
      features for editing, cleaning, healing, inspecting, rendering and
      converting meshes. Here, the model triangle count was reduced using a
      filter.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/07/A_07_05.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      The merge close vertices filter was used to close some gaps and reduce the
      vertex count at the same time. It was found that a 1.5 unit threshold was
      produced the best balance between detail and file size.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/07/A_07_06.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      The model was imported into Autodesk MeshMixer which is a software for
      creating 3D models from scratch, or repairing existing models. The model
      is still a collection of triangles and it is hollow inside. In MeshMixer
      we can apply a modifier (Make Solid) to create a water tight model,
      meaning that the model is a solid object for the computer.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/07/A_07_07.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      The modifier is processing the model and filling the holes.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/07/A_07_08.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      We can play with the modifier parameters, to achieve the desired detail
      level.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/07/A_07_09.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      If necessary, we can also sculpt the model and soften some rough areas
      using different types of brushes.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/07/A_07_10.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      We can easily export the final model as an STL from Autodesk MeshMixer by
      clicking the export button. Then we proceed to import it to CURA. which is
      a software that is used to control the Ultimaker 3D printer. It is used to
      slice 3D models into layers that the printer can understand, and to
      control the printing process. From CURA we can define the detail that we
      want to achieve in our 3d printing process. The most important value here
      is the z-height of the printing nozzle. The bigger this value, the rougher
      the model will look. I selected a standard value and proceeded to print
      the model. The output of CURA is a GCODE file that contains instructions
      for the printer.
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-title">
      <img src="../../assets/assignments/07/A_07_11.png" alt="" width="100%" />
    </div>
    <div class="list-item-description">
      The final print is 5 cm tall. The model has to be further repaired because
      CURA found some errors and produced wrong instructions for the printer.
      This process could take some days to do, because the model has to be fixed
      almost triangle by triangle in some areas. However, as a proof of concept,
      it was rather interesting to see the scanning process.
    </div>
  </div>
</div>
